####################
# Where things are
####################
# destination: ./_site
# plugins_dir: _plugins
# layouts_dir: _layouts
# data_dir: _data
# includes_dir: _includes
collections:
  posts:
    output: false


####################
# Handling Reading
####################
# include:
#   - "_pages"
exclude:
  - "node_modules"
  - "vendor"
  - "*.sublime-project"
  - "*.sublime-workspace"
  - "Gemfile"
  - "Gemfile.lock"
  - "package.json"
  - "LICENSE.md"
  - "README.md"
  - "yarn.lock"


####################
# Filtering Content
####################
# show_drafts: null
# limit_posts: 10
# future: false
# unpublished: false


####################
# Plugins
####################
# whitelist: []
gems:
  - jekyll-seo-tag
  - jekyll-sitemap


####################
# Conversion
####################
# markdown: kramdown
# excerpt_separator: "\n\n"


####################
# Serving
####################
# detach: false
# port: 4000
# host: 127.0.0.1
# baseurl: ""
# show_dir_listing: false


####################
# Outputting
####################
# permalink: ":categories/:title/"
# paginate_path: /page:num
timezone: "America/Los_Angeles"
verbose: false


####################
# Markdown Processor
####################
kramdown:
  syntax_highlighter: rouge

####################
# Sass Options
####################
sass:
  sass_dir: _sass
  style: compressed

####################
# Other
####################

# Liquid profiler - Generate a Liquid rendering profile to help you identify performance bottlenecks.
profile: false

# Custom vars
locale: "en-US"
title: "Google I/O Extended Las Vegas 2017"
# categories_path: categories.html
# tags_path: tags.html
rss_path: atom.xml


####################
# Personal Information
####################

author: "Nathan Jessen"
# logo:

# Contact
email: "nathan.jessen@gmail.com"
location: "Las Vegas, NV"

# Google Analytics
ga_domain: ioextendedlv.github.io
ga_tracking_id: UA-97121897-1

# Social
# githubs:
  # username: "nathanjessen"
# twitter:
#   username: "nathanjessen"
# gplus:
#   username: "NathanJessen"

# jekyll-seo-tag - social profiles
social:
  links:
    - https://github.com/ioextendedlv"
    # - http://codepen.io/njessen"
    # - https://twitter.com/nathanjessen"
    # - https://medium.com/@nathanjessen"
    # - https://www.linkedin.com/in/njessen"
    # - https://plus.google.com/+NathanJessen/posts"
