<div class="u-py-40" id="benefits">
  <div class="l-container">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <h1 class="mdl-typography--display-2 u-mt-0">The Benefits of I/O Extended Las Vegas</h1>
      </div>

      <div class="mdl-cell mdl-cell--8-col">
        <ul class="u-list-unstyled">
          <li class="u-pb-10 u-mb-30 u-border-b">
            <h2 class="mdl-typography--title u-mb-15 u-mt-0">Live streaming</h2>
            <p class="u-mb-10">The Google I/O keynote and sessions will be live streaming the entire time. Listen to technical talks and hear more about Google's latest developer products.</p>
          </li>
          <li class="u-pb-10 u-mb-30 u-border-b">
            <h2 class="mdl-typography--title u-mb-15 u-mt-0">Strengthen ties to the developer community</h2>
            <p class="u-mb-10">I/O Extended events are focused on bringing the local developer community together to hear about the latest Google developments, instruct others through code labs, and share thoughts on any topic.</p>
          </li>
          <li class="u-pb-10 u-mb-30 u-border-b">
            <h2 class="mdl-typography--title u-mb-15 u-mt-0">An ideal location</h2>
            <p class="u-mb-10">The event will be held near Downtown Las Vegas within walking distance to a variety of restaurants, bars, and entertainment venues including the Fremont Street Experience and Container Park.</p>
          </li>
          <li class="u-pb-10 u-mb-30 u-border-b">
            <h2 class="mdl-typography--title u-mb-15 u-mt-0">Raffle</h2>
            <p class="u-mb-10">At least one lucky attendee will walk away with some free Google swag or possibly something better.</p>
          </li>
          <li class="u-pb-10 u-mb-30">
            <h2 class="mdl-typography--title u-mb-15 u-mt-0">A great value</h2>
            <p class="u-mb-10">The event is being held free of charge. Watch the I/O livestream, learn from fellow Google enthusiasts, and take part in our raffle free of charge.</p>
          </li>
        </ul>
      </div>
      <div class="mdl-cell mdl-cell--4-col">

      </div>
    </div>
  </div>
</div>
