<footer class="mdl-color--grey-900 mdl-color-text--white mdl-typography--text-center u-pt-30 u-pb-30 u-mt-40">
  <p class="u-mb-0"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeSbaf9VSO8iMxMzbkRUWjuHKVERMAm9vQaqE17IryEOrY--g/viewform?usp=sf_link" title="Propose a Codelab" target="_blank">Propose a Codelab</a></p>
  <p class="u-mb-0"><a href="https://docs.google.com/forms/d/e/1FAIpQLSedtW3OB140wiGg4le01o2zvnAOavlG9ETi1sf7k2DRhZupfw/viewform?usp=sf_link" title="Vote for Session Preferences" target="_blank">Vote for Session Preferences</a></p>
  <!-- <p class="u-mb-0"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeInc7hgBs7bKQ_iBD5BKSSPSXoiWXsm5Lefeg0NyCz5ClBSA/viewform?usp=sf_link" title="T-Shirt Sign Up" target="_blank">T-Shirt Sign Up</a></p> -->
  <p>Copyright &copy; {{ site.time | date: '%Y' }}</p>
</footer>
