<header class="mdl-layout__header mdl-color--white mdl-color-text--primary mdl-shadow--2dp">
  <div class="mdl-layout__header-row">
    <a href="{{ site.baseurl }}" class="c-logo">
      <img src="assets/images/Google_IO_Extended+LasVegas_2017_Logo_rgb.png" alt="Google I/O Extended Las Vegas">
    </a>

    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>

    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link mdl-color-text--primary" href="#overview">Overview</a>
      <a class="mdl-navigation__link mdl-color-text--primary" href="#benefits">Benefits</a>
      <a class="mdl-navigation__link mdl-color-text--primary" href="#venue">Venue</a>
      <a class="mdl-navigation__link mdl-color-text--primary" href="#schedule">Schedule</a>
      <a href="https://www.eventbrite.com/" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--primary mdl-color-text--primary-contrast">Register Now</a>
    </nav>
  </div>
</header>
