<div class="u-py-40" id="overview">
  <div class="l-container">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <h1 class="mdl-typography--display-2 u-mt-0">Program Overview</h1>
      </div>

      <div class="mdl-cell mdl-cell--7-col">
        <h2 class="mdl-typography--headline">What are I/O Extended events?</h2>
        <p>
          Google I/O Extended events are focused on bringing the local developer
          community together to experience the keynote and other main Google I/O
          sessions, in real-time. They also offer other unique activities
          targeted to developers, such as hackathons, codelabs, and demos.
        </p>
      </div>
      <div class="mdl-cell mdl-cell--5-col">
        <h2 class="mdl-typography--headline">
          Watch the Google I/O 2016 recap video:
        </h2>
        <iframe
          width="460"
          height="259"
          src="https://www.youtube.com/embed/QPhXL1Im7ds?rel=0"
          frameborder="0"
          allowfullscreen="1"
          title="YouTube video player"
        ></iframe>
      </div>
    </div>
  </div>
</div>
