<div class="mt-40" id="schedule">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <h1 class="mdl-typography--display-2">Schedule</h1>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
          <a href="#day-1" class="mdl-tabs__tab is-active">Day 1: May 17, Wednesday</a>
          <a href="#day-2" class="mdl-tabs__tab">Day 2: May 18, Thursday</a>
          <a href="#day-3" class="mdl-tabs__tab">Day 3: May 19, Friday</a>
        </div>
        <div class="mdl-tabs__panel is-active" id="day-1">
          <p>On Day 1, participants will check-in, the Google I/O livestream will begin, and hackathon teams will assemble and begin planning.</p>
          <ul>
            <li>9 A: Check-in and breakfast (check-in is open all day)</li>
            <li>10 A: Google I/O Keynote starts</li>
            <li>10 A - 7 P: Livestream Google I/O keynote and sessions</li>
            <li>12 P: Break for Lunch</li>
            <li>7 P: Dinner; hackathon planning</li>
            <li>8 P: Finalize hackathon teams and begin hack projects</li>
          </ul>
        </div>
        <div class="mdl-tabs__panel" id="day-2">
          <p>Day 2 will feature the Google I/O livestream and participants will continue to hack away on their Hackathon projects.</p>
          <ul>
            <li>8 A: Breakfast</li>
            <li>8:30 A - 7:30 P: Livestream Google I/O sessions</li>
            <li>11:30 A: Best time to grab lunch</li>
            <li>4 P: Ice Cream Social</li>
            <li>7:30 P: Dinner</li>
            <li>All day: Hackathon continues</li>
          </ul>
        </div>
        <div class="mdl-tabs__panel" id="day-3">
          <p>Day 3 will feature the Google I/O livestream, raffle and hackathon project deadlines, and winners will be announced. Winners will receive some awesome Google prizes.</p>
          <ul>
            <li>8 A: Breakfast</li>
            <li>8:30 A - 4:30 P: Livestream Google I/O sessions</li>
            <li>11:30 A: Break for lunch</li>
            <li>4 P: Raffle entry deadline</li>
            <li>4:30 P: Hackathon projects submission deadline</li>
            <li>5 P - 6:30 P: Hackathon demos and winners announced</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
