<div class="u-py-40" id="schedule">
  <div class="l-container">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <h1 class="mdl-typography--display-2 u-mt-0">Schedule</h1>
      </div>

      <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
          <div class="mdl-tabs__tab-bar c-schedule__tab-bar">
            <a href="#day-1" class="mdl-tabs__tab is-active">May 17</a>
            <a href="#day-2" class="mdl-tabs__tab">May 18</a>
            <a href="#day-3" class="mdl-tabs__tab">May 19</a>
          </div>
          <div class="mdl-tabs__panel is-active" id="day-1">
            <p class="mdl-typography--title u-py-40 u-mb-0">Wednesday</p>
            <ul class="c-schedule__grid u-list-unstyled u-mt-0">
              <li class="c-schedule__grid__section">
                <div class="c-schedule__grid__time">930 A</div>
                <div class="c-schedule__grid__event">
                  <div class="c-schedule__grid__event__title">Check-in</div>
                  <div class="c-schedule__grid__event__meta">Open all day</div>
                </div>
              </li>
              <li class="c-schedule__grid__section">
                <div class="c-schedule__grid__time">10 A - 7 P</div>
                <div class="c-schedule__grid__event">
                  <div class="c-schedule__grid__event__title">Livestream Google I/O keynote and sessions</div>
                  <div class="c-schedule__grid__event__meta"></div>
                </div>
              </li>
              <li class="c-schedule__grid__section">
                <div class="c-schedule__grid__time">Any</div>
                <div class="c-schedule__grid__event">
                  <div class="c-schedule__grid__event__title">Code labs</div>
                  <div class="c-schedule__grid__event__meta">Seeking Code lab proposals - <a href="https://docs.google.com/forms/d/e/1FAIpQLSeSbaf9VSO8iMxMzbkRUWjuHKVERMAm9vQaqE17IryEOrY--g/viewform?usp=sf_link" title="Propose a Codelab" target="_blank">Propose a Codelab</a></div>
                </div>
              </li>
              <!-- <li class="c-schedule__grid__section">
                <div class="c-schedule__grid__time">12 P</div>
                <div class="c-schedule__grid__event">
                  <div class="c-schedule__grid__event__title">Break for Lunch</div>
                  <div class="c-schedule__grid__event__meta">Not provided at this time. Many restaurants are within walking distance.</div>
                </div>
              </li>
              <li class="c-schedule__grid__section">
                <div class="c-schedule__grid__time">7 P</div>
                <div class="c-schedule__grid__event">
                  <div class="c-schedule__grid__event__title">Hackathon planning begins</div>
                  <div class="c-schedule__grid__event__meta"></div>
                </div>
              </li>
              <li class="c-schedule__grid__section">
                <div class="c-schedule__grid__time">8 P</div>
                <div class="c-schedule__grid__event">
                  <div class="c-schedule__grid__event__title">Finalize hackathon teams and begin hack projects</div>
                  <div class="c-schedule__grid__event__meta"></div>
                </div>
              </li> -->
            </ul>
          </div>
          <div class="mdl-tabs__panel" id="day-2">
            <p class="mdl-typography--title u-py-40 u-mb-0">Thursday</p>
            <ul class="c-schedule__grid u-list-unstyled u-mt-0">
              <li class="c-schedule__grid__section">
                <div class="c-schedule__grid__time">8:30 A - 7:30 P</div>
                <div class="c-schedule__grid__event">
                  <div class="c-schedule__grid__event__title">Livestream Google I/O sessions</div>
                  <div class="c-schedule__grid__event__meta"></div>
                </div>
              </li>
              <!-- <li class="c-schedule__grid__section">
                <div class="c-schedule__grid__time">11:30 A</div>
                <div class="c-schedule__grid__event">
                  <div class="c-schedule__grid__event__title">Break for Lunch</div>
                  <div class="c-schedule__grid__event__meta">Not provided at this time. Many restaurants are within walking distance.</div>
                </div>
              </li> -->
              <li class="c-schedule__grid__section">
                <div class="c-schedule__grid__time">4 P</div>
                <div class="c-schedule__grid__event">
                  <div class="c-schedule__grid__event__title">Ice Cream Social</div>
                  <div class="c-schedule__grid__event__meta"></div>
                </div>
              </li>
              <li class="c-schedule__grid__section">
                <div class="c-schedule__grid__time">Any</div>
                <div class="c-schedule__grid__event">
                  <div class="c-schedule__grid__event__title">Code labs</div>
                  <div class="c-schedule__grid__event__meta">Seeking Code lab proposals - <a href="https://docs.google.com/forms/d/e/1FAIpQLSeSbaf9VSO8iMxMzbkRUWjuHKVERMAm9vQaqE17IryEOrY--g/viewform?usp=sf_link" title="Propose a Codelab" target="_blank">Propose a Codelab</a></div>
                </div>
              </li>
              <!-- <li class="c-schedule__grid__section">
                <div class="c-schedule__grid__time">All day</div>
                <div class="c-schedule__grid__event">
                  <div class="c-schedule__grid__event__title">Hackathon continues</div>
                  <div class="c-schedule__grid__event__meta"></div>
                </div>
              </li> -->
            </ul>
          </div>
          <div class="mdl-tabs__panel" id="day-3">
            <p class="mdl-typography--title u-py-40 u-mb-0">Friday</p>
            <ul class="c-schedule__grid u-list-unstyled u-mt-0">
              <li class="c-schedule__grid__section">
                <div class="c-schedule__grid__time">8:30 A - 4:30 P</div>
                <div class="c-schedule__grid__event">
                  <div class="c-schedule__grid__event__title">Livestream Google I/O sessions</div>
                  <div class="c-schedule__grid__event__meta"></div>
                </div>
              </li>
              <!-- <li class="c-schedule__grid__section">
                <div class="c-schedule__grid__time">11:30 A</div>
                <div class="c-schedule__grid__event">
                  <div class="c-schedule__grid__event__title">Break for lunch</div>
                  <div class="c-schedule__grid__event__meta">Not provided at this time. Many restaurants are within walking distance.</div>
                </div>
              </li> -->
              <li class="c-schedule__grid__section">
                <div class="c-schedule__grid__time">4 P</div>
                <div class="c-schedule__grid__event">
                  <div class="c-schedule__grid__event__title">Raffle winner announced</div>
                  <div class="c-schedule__grid__event__meta"></div>
                </div>
              </li>
              <li class="c-schedule__grid__section">
                <div class="c-schedule__grid__time">Any</div>
                <div class="c-schedule__grid__event">
                  <div class="c-schedule__grid__event__title">Code labs</div>
                  <div class="c-schedule__grid__event__meta">Seeking Code lab proposals - <a href="https://docs.google.com/forms/d/e/1FAIpQLSeSbaf9VSO8iMxMzbkRUWjuHKVERMAm9vQaqE17IryEOrY--g/viewform?usp=sf_link" title="Propose a Codelab" target="_blank">Propose a Codelab</a></div>
                </div>
              </li>
              <!-- <li class="c-schedule__grid__section">
                <div class="c-schedule__grid__time">4:30 P</div>
                <div class="c-schedule__grid__event">
                  <div class="c-schedule__grid__event__title">Hackathon projects submission deadline</div>
                  <div class="c-schedule__grid__event__meta"></div>
                </div>
              </li>
              <li class="c-schedule__grid__section">
                <div class="c-schedule__grid__time">5 P - 6:30 P</div>
                <div class="c-schedule__grid__event">
                  <div class="c-schedule__grid__event__title">Hackathon demos and winners announced</div>
                  <div class="c-schedule__grid__event__meta"></div>
                </div>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
