<div class="u-py-40" id="venue">
  <div class="l-container">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <h1 class="mdl-typography--display-2 u-mt-0">Event Venue</h1>
      </div>

      <div class="mdl-cell mdl-cell--7-col">
        <p class="mdl-typography--title">Details coming soon.</p>
        <div class="c-google-map u-mt-30">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12883.430145289407!2d-115.14229682232927!3d36.17002122976561!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c8c373a778174d%3A0xfb08722262eae752!2sDowntown%2C+Las+Vegas%2C+NV!5e0!3m2!1sen!2sus!4v1491801515097" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
      </div>
      <div class="mdl-cell mdl-cell--5-col"></div>
    </div>
  </div>
</div>
