.c-schedule__tab-bar {
  justify-content: flex-start;
}

.c-schedule__grid {
  border-top: 1px solid #dcdcdc;
}

.c-schedule__grid__section {
  border-bottom: 1px solid #dcdcdc;
  border-top: none;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
}

.c-schedule__grid__time {
  font-family: "Product Sans",arial,sans-serif;
  font-size: 40px;
  line-height: 54px;
  background: #FAFAFA;
  font-size: 24px;
  line-height: 30px;
  padding: 14px 20px;

  background: none;
  padding: 20px;
  white-space: nowrap;
  width: 150px;
  text-align: right;
}

.c-schedule__grid__event {
  border-bottom: 1px solid #dcdcdc;
  padding: 20px;

  border-left: 1px solid #dcdcdc;
  padding: 20px 40px;
  flex-grow: 1;
}

.c-schedule__grid__event:last-child {
  border-bottom: none;
}

.c-schedule__grid__event__title {
  font-family: "Product Sans",arial,sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.c-schedule__grid__event__meta {
  margin: 8px 0;
  font-size: 12px;
  line-height: 12px;

  font-size: 15px;
  line-height: 1.87;
}
