.u-pt-0 {
  padding-top: 0;
}

.u-pb-0 {
  padding-bottom: 0;
}

.u-pt-10 {
  padding-top: 10px;
}

.u-pb-10 {
  padding-bottom: 10px;
}

.u-pt-15 {
  padding-top: 15px;
}

.u-pb-15 {
  padding-bottom: 15px;
}

.u-pb-30 {
  padding-bottom: 30px;
}

.u-pt-30 {
  padding-top: 30px;
}

.u-py-40 {
  padding-bottom: 40px;
  padding-top: 40px;
}

.u-py-100 {
  padding-bottom: 100px;
  padding-top: 100px;
}

.u-py-120 {
  padding-bottom: 120px;
  padding-top: 120px;
}
